html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: #fff;
}

.page__error-message {
  font-size: 40px;
  color: red;
  text-align: center;
  margin-top: 100px;
}

.page {
  background: url("../../assets/background.png") repeat,
    radial-gradient(
      circle at top center,
      rgba(0, 0, 0, 0.375),
      rgba(0, 0, 0, 1)
    );
  background-size: 400px 400px;
  position: relative;
  width: 100%;
  text-align: center;
  margin: 0;
  font-family: BonaNova, sans-serif;
}
