@font-face {
  font-family: BonaNova;
  src: url("../../vendor/fonts/BonaNovaSC-Bold.ttf");
}

.header {
  display: flex;
  justify-content: space-around;
  font-family: BonaNova;
  font-weight: bold;
  flex-wrap: wrap;
  background: black;
  margin-right: 20px;
  min-width: fit-content;
}

.header__name-container {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 120px;
  height: 100px;
}

.header__title {
  line-height: 37px;
  font-size: 40px;
  font-weight: 700;
  padding-left: 30pz;
  text-align: center;
}

.header__nav {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 550px) {
  .header__title {
    font-size: 20px;
  }

  .header__logo {
    width: 100px;
    height: 80px;
  }
}
